.speciesName{
  display:flex;
}
.species{
  width:50%;
  display:flex;
}
.App{
  display:flex;
  width:100vw;
  flex-Wrap: wrap;
  height:100%;
  font-size:10px;
  font-weight: 5000;
}
#multiplier{
  width:100%;
}
.name{
  flex-grow: 5;
  border-width:1px;
  border-style:solid;
  border-color:black;
  text-align:center;
  text-justify:auto;
  height: 100%;
  width:30%;
}
.genericField{
  flex-grow: 1;
  border-width:1px;
  width:10%;
  border-style:solid;
  border-color:black;
  text-align:center;
  text-justify:auto;
  height: 100%;
  display:inline-block;
}
.genericField1{
  flex-grow: 1;
  border-width:1px;
  width:9%;
  border-style:solid;
  border-color:black;
  text-align:center;
  text-justify:auto;
  height: 20px;
  margin-top:15px;
  display:inline-block;
}

.subSampleWeight{
  background-color: rgb(167, 89, 89);
}
#header{
  width:50%;
  display:flex;
}
#boldNumber{
  font-size: 20px;
}
#vol2vol{
  font-size:25px;
}
button{
  position:fixed;
  right:0;
  bottom:0;
}